
main .author-header {
    .image img {
        width: 64px;
        height: 64px
    }
    .image-40 img {
        width: 40px;
        height: 40px
    }

    .details {
        font-size: $font-size-base;
        .name {
            font-weight: bold;
            font-family: $font-family-sarala
        }
        .summary, .meta {
            color: $gray-700;
            font-size: $font-size-sm
        }
        //.meta {margin-top: -6px}
    }
}

/* SAMPLE USAGE /*

 <div class="author-header d-flex no-gutters">
 <div class="image image-40 col-auto"><img src="{{STATIC_DOMAIN}}/images/presets/avatar.png"/></div>
      <div class="details col ml-3">
             <div class="name">{{comment?.author.name}}</div>
                 <div class="meta">
                     {{comment?.createdAt | smartDate }}
               </div>
           </div>
        </div>

 */
