
#side-nav-container {
    @include media-breakpoint-down(sm){ padding: 0 }
    background-color: #fff;
    // background-color: $secondary;

    #side-nav {
        width: 100vw;
        display: flex;
        overflow: visible;
    }

    #content-view {
        min-height: calc(100vh - 66px - 94px); //Total height - topbar height - footer height
        margin:66px auto 0 auto;
        width: 100%;

        &.no-margin {
            min-height: calc(100vh); //Total height
        }

        main {
            padding-top: 1px;
        }
    }

}
