@import "../abstracts/variables";


@keyframes ripple {
    to {
        transform: scale(1);
    }
}

#app-loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(255, 255, 255, 0.7);

    z-index: 10000;

    .ripple {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        position: absolute;
        top: calc(50% - 30px);
        left: calc(50% - 30px);

        animation-name: ripple;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
        animation-direction: alternate-reverse;
        animation-iteration-count: infinite;

        transform: scale(0);
        opacity: 0.6;
    }

    .ripple1 {
        background-color: lighten($primary,60%);
    }

    .ripple2 {
        animation-delay: -250ms;
        background-color: lighten($primary,40%);
    }

    .ripple3 {
        animation-delay: -500ms;
        background-color: lighten($primary,20%);
    }

    .ripple4 {
        animation-delay: -750ms;
        background-color: $primary;
    }

}

