
/********* Spinner *******/

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.spinner:before, .spinner-primary:before, .spinner-secondary:before {
    content: '';
    box-sizing: border-box;
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-top: 5px;
    margin-left: 10px;
    border-radius: 50%;
    -webkit-animation: spinner .6s linear infinite;
    animation: spinner .6s linear infinite;
}

.spinner:before {
    border-top: 2px solid white;
    border-right: 2px solid white;
}


.spinner-primary:before {
    border-top: 2px solid $primary;
    border-right: 2px solid $primary;
}

.spinner-secondary:before  {
    border-top: 2px solid $secondary;
    border-right: 2px solid $secondary;
}
