// Reset huge SVG width and height
svg.svg-grind, .svg-grind > svg{
    width: 16px;
    height: 16px;
    display: none;
    margin-left: 5px;
    padding-top: 1px;
}


svg {

    .qp-circular-loader {
        width: 16px; /* 2*RADIUS + STROKEWIDTH */
        height: 16px; /* 2*RADIUS + STROKEWIDTH */
    }
    .qp-circular-loader-path {
        stroke-dasharray: 32.4; /* 2*RADIUS*PI * ARCSIZE/360 */
        stroke-dashoffset: 32.4; /* 2*RADIUS*PI * ARCSIZE/360 */
        /* hides things initially */
    }

    /* SVG elements seem to have a different default origin */
    .qp-circular-loader, .qp-circular-loader * {
        transform-origin: 50% 50%;
    }

    /* Rotating the whole thing */
    @keyframes rotate {
        from {
            -webkit-transform: rotate(0deg);
        }
        to {
            -webkit-transform: rotate(360deg);
        }
    }
    .qp-circular-loader {
        animation-name: rotate;
        animation-duration: 1568.63ms; /* 360 * ARCTIME / (ARCSTARTROT + (360-ARCSIZE)) */
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    /* Filling and unfilling the arc */
    @keyframes fillunfill {
        from {
            stroke-dashoffset: 32.3 /* 2*RADIUS*PI * ARCSIZE/360 - 0.1 */
            /* 0.1 a bit of a magic constant here */
        }
        50% {
            stroke-dashoffset: 0;
        }
        to {
            stroke-dashoffset: -31.9 /* -(2*RADIUS*PI * ARCSIZE/360 - 0.5) */
            /* 0.5 a bit of a magic constant here */
        }
    }
    @keyframes rot {
        from {
            -webkit-transform: rotate(0deg);
        }
        to {
            -webkit-transform: rotate(-360deg);
        }
    }

    @keyframes white-colors {
        from {
            stroke: #fff;
        }
        to {
            stroke: #fff;
        }
    }

    @keyframes primary-colors {
        from {
            stroke: $primary;
        }
        to {
            stroke: $primary;
        }
    }

    .qp-circular-loader-path {
        animation-duration: 1333ms, 5332ms, 5332ms; /* ARCTIME, 4*ARCTIME, 4*ARCTIME */
        animation-iteration-count: infinite, infinite, infinite;
        animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1), steps(4), linear;
        animation-play-state: running, running, running;
        animation-fill-mode: forwards;
    }

    .qp-circular-loader-path-white {
        animation-name: fillunfill, rot, white-colors;
        @extend .qp-circular-loader-path;
    }

    .qp-circular-loader-path-primary {
        animation-name: fillunfill, rot, primary-colors;
        @extend .qp-circular-loader-path;
    }
}





