<main>
    <header class="d-flex justify-content-between">

        <div class="author-header d-flex no-gutters">
            <div class="image col-auto"><img src="{{STATIC_DOMAIN}}/images/presets/avatar.png"/></div>
            <div class="details col ml-3">
                <div class="name">{{post?.author.name}}</div>
                <div class="summary">{{post?.author.summary}}</div>
                <div class="meta">
                    {{post?.createdAt | smartDate }}
                    <i class="dot-bridge"></i>
                    {{post?.readTime | rosPlural:'min':'read'}}
                    <i class="dot-bridge"></i>
                    {{post?.category.name}}
                </div>
            </div>
        </div>

        <div>
            <button  class="btn" (click)="editorEnabled = !editorEnabled">{{ editorEnabled ? 'Preview' : 'Back to Editing'  }}</button>


            <button class="btn btn-secondary has-mat-icon" (click)="publish()">
                <mat-icon>save</mat-icon>
                Save
            </button>


        </div>

    </header>



    <article id="editor-container">
        <app-post-editor
            [content]="post.content"
            (save)="onUserSave($event)"
            [editorEnabled]="editorEnabled"
            [placeholder]="placeholder"
            [spellCheck]="true">

        </app-post-editor>
    </article>


</main>
