@import "../../../../styles/abstracts";


form {

    .form-group {

        input {
            font-size: $font-size-sm;
            width: 300px;
            border-radius: 0;
            display: inline-block;
            @include media-breakpoint-down(sm) { width: 100%;}
        }

    }

    .text-danger {
        margin-top: 5px;
        text-align: left;

    }
}


header {
    text-align: center;

     h1 {
         font-weight: 700;
         font-family: $font-family-sarala;
         @include media-breakpoint-down(sm) {
             font-size: $h2-font-size
         }
     }

     p {
         font-size: $font-size-base;
     }

     span {
         text-transform: uppercase;
         font-weight: 700;
         @include media-breakpoint-down(sm) {
             font-weight: normal;
         }
     }




     form {
         display: inline-block;

         .form-group {
             margin: 20px auto 0 auto;

             input {
                 font-size: $font-size-sm;
                 width: 300px;
                 border-radius: 0;
                 display: inline-block;
                 @include media-breakpoint-down(sm) { width: 100%;}
             }

             button {
                 border-radius: 0;
                 padding: 6px 40px;

                 &:hover {
                     background-color: darken($secondary,10%);
                 }

                 &:active, & {
                     border: none;
                     box-shadow: none;
                 }

                 @include media-breakpoint-down(sm) { width: 100%; margin-top: 10px}
             }

         }

         .text-danger {
             margin-top: 5px;
             text-align: left;

         }
     }


    }


section {

    .text-danger{
        width: 430px;
        padding-left: 125px;
        margin: 0 auto;
    }

    form{
        margin: 30px auto;

        label {
            width: 100px;
            text-align: right;
            margin-right: 20px;
        }


       .form-group {
           width: 430px;
           margin: 10px auto;
        }

        button:first-child {
            margin-left: 125px;
        }

    }


}
