<header *ngIf="activeStep==0" [@stepState]="getStepState(0)" class="dc-header">
    <h1>Join Rostrum</h1>

    <p>You're 5 minutes away from letting the world know your ideas. <br/>
        Create your account and start sharing your ideas with other.
    </p>


    <form [formGroup]="signupForm">

        <div class="form-group hint--top hint--rounded" aria-label="Your email, so we know how to reach you"
             [ngClass]="{'has-danger': signupForm.controls['email'].dirty && signupForm.controls['email'].errors}">
            <input class="form-control" placeholder="Type in your email" formControlName="email"/>
            <button class="btn-lg btn-secondary" (click)="nextStep(1)">Signup</button>
        </div>
        <div class="text-danger">{{error}}</div>


    </form>

</header>


<section *ngIf="activeStep==1" [@stepState]="getStepState(1)" class="dc-section">

    <h3 class="text-center">Welcome to your new account!</h3>
    <p class="text-center">We just need a few more things to get you set up:</p>

    <form [formGroup]="signupForm" (ngSubmit)="onSubmit($event)" id="form" class="d-flex flex-column">

        <div class="text-danger">{{error}}</div>


        <div class="form-group hint--top hint--rounded" aria-label="Url would be created using this name"
             [ngClass]="{'has-danger': signupForm.controls['username'].dirty && signupForm.controls['username'].errors}">
            <label class="important">Username</label>
            <input class="form-control hint--top"  autocomplete="off" placeholder="Your Username"
                   type="text"
                   formControlName="username">
        </div>


        <div class="form-group hint--right hint--rounded" aria-label="This would be the name others would see"
             [ngClass]="{'has-danger': signupForm.controls['name'].dirty && signupForm.controls['name'].errors}">
            <label class="important">Name</label>
            <input class="form-control" autocomplete="off" placeholder="John Doe"
                   type="text"
                   formControlName="name">
        </div>

        <div class="form-group hint--right hint--rounded" aria-label="Password should be at least 8 characters"
             [ngClass]="{'has-danger': signupForm.controls['password'].dirty && signupForm.controls['password'].errors}">
            <label class="important">Password</label>
            <input id="password" class="form-control" data-error="Password required" placeholder="Enter your password"
                   type="password" formControlName="password" required>
            <div class="pre-icon os-icon os-icon-fingerprint"></div>
        </div>


        <div class="form-group text-left">
            <button class="btn" (click)="nextStep(0, false)">Back</button>
            <button class="btn btn-secondary" type="submit">Submit <i *ngIf="isGrinding" class="spinner"></i>
            </button>
        </div>


    </form>

</section>


<section *ngIf="activeStep==2" [@stepState]="getStepState(2)" class="dc-section text-center mt-4">

    <h3>Congrats you have successfully created your account!</h3>
    <p>You can now login to your new account.</p>

    <button class="btn-lg btn-secondary mt-4" routerLink="/login">Login to your account</button>

</section>
