
<mat-sidenav-container id="side-nav-container">
    <mat-sidenav position="end" #sideNav id="side-nav">
        <app-sidebar (toggleSideNav)="handleToggleSideNav($event)" [opened]="sideNavOpened" ></app-sidebar>
    </mat-sidenav>

    <app-topbar (toggleSideNav)="handleToggleSideNav($event)" theme="light"></app-topbar>
    <article id="content-view">
        <section  class="dc-section">
            <h3>404... That page dosen't exist</h3>

            <p>Sorry, but we couldn't seem to find that page. Please check the url again.</p>

            <button class="btn-lg btn-secondary mt-4" routerLink="/">Lets get you back to safety</button>

        </section>
    </article>
    <app-footer></app-footer>

</mat-sidenav-container>


