@import '~bootstrap/scss/mixins';

@mixin mat-icon-size($size: 24px) {
    font-size: $size;
    height: $size;
    width: $size;
    line-height: $size;
}


@mixin flex-column($center) {
    display: flex;
    flex-direction: column;

    @if $center {
        justify-content: center;
    }

}

@mixin italics($center) {
    font-style: italic;
    font-weight: 500;
}
