/// Reset Bootstrap variables

// Color system
$purple-200:  #8247b5 !default;
$yellow-200:  #ffeb3b !default;
$primary:       #0099fb !default; // #0057ff
$secondary:     $yellow-200 !default;
$gray-50: #fafafa;
$link-color: #08c !default;

// Fonts
$font-family-serif:     "Palatino Linotype", "Book Antiqua", Palatino, "Times New Roman", Times, Georgia, serif !default;
$font-family-sans-serif:      -apple-system, BlinkMacSystemFont, "Open Sans", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-family-sarala: Sarala, $font-family-sans-serif !default;
$font-family-nunito: Nunito, $font-family-sans-serif !default;
$font-family-base: $font-family-nunito !default;

// Tables
$table-hover-bg: $gray-50;



/// App specific variables

// Relative or absolute URL where all assets are served from
$STATIC_DOMAIN : '/assets/' !default;




/// Import Bootstrap tools

@import
    '~bootstrap/scss/functions',
    '~bootstrap/scss/variables';
