<main>

    <header class="d-flex justify-content-between">

        <div class="author-header d-flex no-gutters">
            <div class="image col-auto"><img src="{{STATIC_DOMAIN}}/images/presets/avatar.png"/></div>
            <div class="details col ml-3">
                <div class="name">{{user.name}}</div>
                <div class="summary">{{user.summary}}</div>
                <div class="meta">
                    New Post
                </div>
            </div>
        </div>

        <div>
            <button class="btn btn-secondary has-mat-icon" (click)="publish()">
                <mat-icon>add</mat-icon>
                Publish
            </button>
        </div>


    </header>

    <article id="new-view">


        <div id="editor-container">
            <app-post-editor [editorEnabled]="editorEnabled"></app-post-editor>
        </div>

    </article>

</main>
