@import "../../../../styles/abstracts";

main {
    width: 100%;

    header {
        max-width: 700px;
        margin: 20px auto;
    }

    #new-view {
        max-width: 700px;
        margin: 20px auto;

        #editor-container {
            max-width: 700px;
            margin: 0 auto;
        }
    }



}
