<section class="dc-section" [@stepState]="'active'" >

    <h3 class="text-center">Login to Rostrum!</h3>
    <p class="text-center">We just need a few more things to get you set up:</p>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit($event)" id="loginForm" class="d-flex flex-column">

        <div class="text-danger">{{error}}</div>


        <div class="form-group"
                 [ngClass]="{'has-danger': loginForm.controls['email'].dirty && loginForm.controls['email'].errors}">
                <label class="important">Email</label>
                <input class="form-control" autocomplete="off" placeholder="johndoe@example.com"
                       type="email"
                       formControlName="email">
            </div>

        <div class="form-group"
                 [ngClass]="{'has-danger': loginForm.controls['password'].dirty && loginForm.controls['password'].errors}">
                <label class="important">Password</label>
                <input class="form-control" data-error="Password required" placeholder="Enter your password"
                       type="password" formControlName="password" required>
                <div class="pre-icon os-icon os-icon-fingerprint"></div>
            </div>


        <div class="form-group text-left">
            <button class="btn btn-secondary" type="submit">Login to account <i *ngIf="isGrinding" class="spinner"></i></button>
        </div>


    </form>

</section>


