@import "../../../../styles/abstracts";


form {
    margin: 20px auto;

    .form-group {
        width: 430px;
        margin: 10px auto;

        input {
            font-size: $font-size-sm;
            width: 300px;
            border-radius: 0;
            display: inline-block;
            @include media-breakpoint-down(sm) {
                width: 100%;
            }
        }

    }

    .text-danger {
        text-align: left;
        width: 430px;
        padding-left: 125px;
        margin: 0 auto;
    }



    label {
        width: 100px;
        text-align: right;
        margin-right: 20px;
    }

    button:first-child {
        margin-left: 125px;
    }
}

