@import "../../../../styles/abstracts";

#modal-view {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    display: none;
    z-index: $zindex-modal-backdrop;

    #exit-view {
        cursor: pointer;
        padding: 20px;
        font-family: $font-family-base;
        font-weight: bold;
        font-size: 1rem;
        background: #fff;
        position: absolute;
        z-index: 150;

        mat-icon {
            vertical-align: bottom;
        }
    }

    #modal-content-layer {
        width: inherit;
        cursor: pointer;
        @include flex-column(true);

        #modal-content-view {
            cursor: auto;
            margin: 0 auto;
        }
    }

}
