<article id="modal-view">
    <div id="exit-view" (click)="exitView()"><mat-icon svgIcon="chevron-left"></mat-icon> Back</div>


    <div id="modal-content-layer">
        <div id="modal-content-view">
            <div id="componentContainer" #componentContainer></div>
        </div>
    </div>




</article>
