@import "../../../../styles/abstracts";

#SidebarView {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    font-family: $font-family-base;
    color: $primary;


    #header-links {
        position: absolute;
        top:10px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 20px;

        #login {
            color: $primary;
            font-weight: bold;
        }

    }


    /*#nav-profile{
        padding-bottom: 50px;
        div.photo{
            width: 100px;
            height: 100px;
            border-radius: 100%;
            overflow: hidden;
            margin: 0 auto;

            img{
                width: 100%;
                height: 100%;
            }
        }

        div.username{
            text-align: center;
            padding: 10px;
            margin: 0 auto;
            font-weight: 500;
        }
    }*/


    #nav-links{

        ul {
            display: flex;
            flex-direction: column;
            list-style: none;
            padding: 30px;
            font-family: $font-family-base;

            li {
                padding: 10px 20px;
                font-size: $h4-font-size;
                border-top: 1px solid $gray-200;
                color: $primary;
                cursor: pointer;
                text-align: center;

                &:hover, &:active{
                    background: $gray-200;
                }

                &:first-child{
                    border-top: none;
                }

                i{
                    vertical-align: middle;
                    margin-right: 10px;
                    color: $gray-600;
                }
            }
        }

    }

}
