<article id="SidebarView" [@activeState]="activeState">



    <nav id="header-links">
        <div id="login" (click)="onNavigate('/login')">Login</div>
        <div id="exit-view" (click)="toggleMenu()"><mat-icon>close</mat-icon></div>
    </nav>

    <nav id="nav-links">

    </nav>


</article>
