<mat-sidenav-container id="side-nav-container">
  <mat-sidenav position="end" #sideNav id="side-nav">
    <app-sidebar (toggleSideNav)="handleToggleSideNav($event)" [opened]="sideNavOpened" ></app-sidebar>
  </mat-sidenav>

  <app-topbar (toggleSideNav)="handleToggleSideNav($event)" [theme]="theme"></app-topbar>
  <article id="content-view">
      <router-outlet></router-outlet>
  </article>
  <app-footer></app-footer>

</mat-sidenav-container>
