<section>

    <div class="bottom-footer row border-top pt-3">

        <nav class="col">
                <ul class="list-unstyled  d-flex">
                    <li><a class="link">Contact Us</a></li>
                    <li><a class="link">Terms</a></li>
                    <li><a class="link">Privacy Policy</a></li>
                </ul>

            </nav>

        <nav id="copyright" class="col-5 text-right">
                <span> © Copyright {{currentYear}} <b>The Rostrum Company.</b></span>
                <span>All Rights Reserved.</span>
        </nav>

    </div>

</section>
