@import "../../../../styles/abstracts";

section{
    width: 100%;
    margin-top: 20px;
    padding: 20px 50px;

    nav {

        ul {
            li {
                font-size: $font-size-sm;
                color: $black;
                padding-right: 20px;
                &:hover {
                    color: $primary;
                    cursor: pointer;
                }
            }
        }

        &#copyright{
            font-size : $font-size-sm * 0.8;
            @include media-breakpoint-down(sm) { text-align: center;}
            span{ display: inline-block}
        }
    }

}
