@import "../../../../styles/abstracts";



section.conversion-banner {
    @include media-breakpoint-down(sm) {
        height: 100vh
    }

    margin: 40px;
    padding: 50px 50px 50px 50px;
    @include media-breakpoint-down(sm) {
        padding: 150px 20px 50px 20px;
    }


   // background: #fafafa;
    color: $black;
    text-shadow: darken($primary, 20%);

    /*&.orange {
        background-color: $orange;
    }*/

    span {
        text-transform: uppercase;
        font-weight: 700;
        @include media-breakpoint-down(sm) {
            font-weight: normal;
        }
    }

    h1 {
        font-family: $font-family-sarala;
        font-weight: 700;
        @include media-breakpoint-down(sm) {
            font-size: $h2-font-size
        }
    }

    p {
        max-width: 500px;
        font-weight: 300;
        font-family: $font-family-nunito;

    }

    button {
        font-family: $font-family-base;
        border-radius: 20px;
        cursor: pointer;
        padding: 10px 40px;
        font-size: $font-size-base;
        border: none;
    }
}

header {
        height: calc(100vh - 20px);
        @include media-breakpoint-down(sm) {
            height: 100vh
        }

        // background: $primary url('#{$STATIC_DOMAIN}/images/backgrounds/coffee-table1400x1024.jpg') no-repeat fixed center;
        // background: $primary url('#{$STATIC_DOMAIN}/images/backgrounds/young-coworkers1200x634.jpg') no-repeat fixed center;
        background-size: cover;
        color: #fff;

        padding: 250px 50px 50px 50px;
        @include media-breakpoint-down(sm) {
            padding: 150px 20px 50px 20px;
        }

        font-family: $font-family-base;
        text-shadow: darken($primary, 20%);

        span {
            text-transform: uppercase;
            font-weight: 700;
            @include media-breakpoint-down(sm) {
                font-weight: normal;
            }
        }

        h1 {
            font-weight: 700;
            @include media-breakpoint-down(sm) {
                font-size: $h2-font-size
            }
        }

        p {
            max-width: 500px;
            font-weight: 300
        }

        button {
            font-family: $font-family-base;
            border-radius: 20px;
            cursor: pointer;
            padding: 10px 40px;
            font-size: $font-size-base;
            border: none;
        }
    }


section#feed {
    margin: 0 40px;

    #categories {
        li {
            font-size: $font-size-sm *.95;
            padding-bottom: 10px;
            cursor: pointer;

            &:hover {
                color: $primary;
            }

            &:before {
                content: "";
                display: inline-block;
                width: 12px;
                height: 12px;
                background: $primary;
                margin-right: 5px;
                border-radius: 3px;
            }
        }
    }


    #latest-posts {
        .post {
            margin-bottom: 40px;
            h5 {
                font-size: $h5-font-size * 1.1;
                font-family: $font-family-sarala;
                font-weight: 700;
                cursor: pointer;
                a {color: $black; text-decoration: none;
                    &:hover {
                        color: lighten($black, 35);
                    }
                }

            }

            p {
                color: lighten($black,20);
                font-size: $font-size-sm;
                font-weight: 300;
                font-family: $font-family-nunito;
            }

            div.meta {
                font-family: $font-family-nunito;  font-size: $font-size-sm;

                .link {color: $black; font-weight: bold}

            }
        }
    }
}




