<section class="conversion-banner orange">
    <h1>Welcome to Rostrum Forums</h1>
        <p>Hear directly from the people who know it best.
            From tech to politics to creativity and more — whatever your interest, we’ve got you covered. Just align with a category that suits you.
        </p>
    <button class="btn-lg btn-secondary" routerLink="/signup">Get Started</button>
</section>


<section id="feed" class="d-flex">

    <section id="categories" class="col-3">
        <ul class="list-unstyled">
            <li *ngFor="let category of categories$ | async">
                {{category.name}}
            </li>
        </ul>
    </section>

    <section id="latest-posts" class="col-9 col-lg-7">

        <div class="post" *ngFor="let post of posts">
            <h5> <a routerLink="/{{post.author.username}}/{{post.slug}}">{{post.title}}</a></h5>
            <p>{{post.summary}}</p>
            <div class="meta">
                {{post.author.name}} in
                <a class="link" routerLink="/category/{{post.category.name | lowercase}}">{{post.category.name}}</a>
                <i class="dot-bridge"></i>
                {{post.createdAt | smartDate }}
                <i class="dot-bridge"></i>
                {{post?.readTime | rosPlural:'min':'read'}}
            </div>

        </div>

    </section>

</section>


<!--
Playfair Display
Cormorant Garamond
Vidaloka
Prata
-->

