<article id="topbar-view" [class]="theme">

  <section>


        <nav id="app-logo" routerLink="/">
            <img src="{{STATIC_DOMAIN}}/images/logo/ros-logo-{{theme}}.svg"/>
        </nav>

        <nav id="app-menu" class="d-none d-md-flex">

            <ul></ul>


            <ul *ngIf="!authService.isLoggedIn">
                <li routerLink="/login" class="va-center">Login</li>
                <li routerLink="/signup"><button class="btn btn-secondary">Get Started</button></li>
            </ul>


            <ul *ngIf="authService.isLoggedIn">
                <li class="desktop-menu photo" [matMenuTriggerFor]="menu">
                   <img src="{{STATIC_DOMAIN}}/images/presets/avatar.png"/>
                </li>
            </ul>

        </nav>


        <nav id="app-menu-launcher" class="d-flex d-md-none {{theme}}" (click)="toggleMenu()">
            <mat-icon>menu</mat-icon>
        </nav>

        <mat-menu #menu="matMenu" [overlapTrigger]="false">
            <button mat-menu-item>{{user?.name }}<span class="description">{{user?.email }}</span></button>
            <a class="not-link" routerLink="/post/new"><button mat-menu-item>Create Post</button></a>
            <button mat-menu-item (click)="onLogout()">Logout</button>
        </mat-menu>

    </section>

</article>
