@import "../../../../styles/abstracts";

#topbar-view {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    background: #fafafa;
    z-index: $zindex-dropdown;

    &.light li{
        color: $black !important;

        &:hover {
            color: $primary !important;
        }
    }

    .light mat-icon {color: $primary}
    .dark mat-icon {color: white}


    section {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 10px 40px;
        @include media-breakpoint-down(sm){ padding: 40px 25px }
    }



    #app-logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;

        img{
            height: 30px;
            @include media-breakpoint-down(sm){ height: 25px}
        }

    }


    #app-menu {
        display: flex;
        flex-grow: 2;
        justify-content: space-between;
        padding: 3px 0;


        ul {
            display: flex;
            list-style: none;
            padding: 0;
            margin-bottom: 0;
            font-weight: 500;
            font-size: $font-size-sm;

            mat-icon {
                font-size: 1.25rem;
                color: white;
            }

            li {
                display: flex;
                justify-content: center;
                cursor: pointer;
                padding: 0 15px;
                color: #fff;
                //color: #FFEB3B;
                font-weight: 500;
               // border-right: 1px solid #fff;

                &.photo img { width:40px; height: 40px}

                &:last-child{
                    margin-right: 0;
                    border-right: none;
                }

                &:hover {
                    //font-weight: bold;
                    color: $secondary;
                }

                &.search{
                    display: flex;
                }

                &.va-center {
                    height: 20px;
                    margin-top: 10px;
                }
            }

        }





     /* button {
        font-family: $font-family-orkney;
        border-radius: 20px;
        cursor: pointer;
        padding: 10px 40px;
        font-size: $font-size-base;
        border: none;
      }*/



    }


    #app-menu-launcher {
        flex-direction: column;
        justify-content: center;
        cursor: pointer;
    }


}



@include media-breakpoint-up(md){
   /* #TopbarView section {
        width: 80%;
    }*/
    #app-logo button {
        display: none;
    }

}

