@import "../../../../styles/abstracts/variables";

main {
    width: 100%;

    header {
        max-width: 700px;
        margin: 20px auto;
    }

    #post-view {
        max-width: 700px;
        margin: 20px auto;
        font-family: $font-family-nunito;


        .ros-content {
            margin-top: 40px;

        }
    }


    #bottom-view {
        background: $gray-50;
        padding: 20px;

        #comment-street {
            max-width: 700px;
            margin: 20px auto;

            .comment-header {
                font-family: $font-family-sarala;
                font-weight: bold;
            }

            .comment-container {
                textarea {
                    width: 100%;
                    min-height: 100px;
                    padding: 20px;
                    margin: 20px 0;
                    border-radius: 3px;
                    border: 1px solid rgba(0,0,0,.05) !important
                }
            }


           .comment-feed {
               .comment {
                   border-radius: 3px;
                   border: 1px solid rgba(0,0,0,.05) !important;
                   background: #fff;
                   padding: 20px;
                   margin: 20px 0;
               }
           }

        }
    }

}
