<main>

    <header class="d-flex justify-content-between">

        <div class="author-header d-flex no-gutters">
            <div class="image col-auto"><img src="{{STATIC_DOMAIN}}/images/presets/avatar.png"/></div>
            <div class="details col ml-3">
                <div class="name">{{post?.author.name}}</div>
                <div class="summary">{{post?.author.summary}}</div>
                <div class="meta">
                    {{post?.createdAt | smartDate }}
                    <i class="dot-bridge"></i>
                    {{post?.readTime | rosPlural:'min':'read'}}
                    <i class="dot-bridge"></i>
                    {{post?.category.name}}
                </div>
            </div>
        </div>

        <div *ngIf="user?.username == post?.author.username">
            <a class="not-link" routerLink="/post/{{post.postId}}/edit">
                <button class="btn btn-secondary has-mat-icon">
                <mat-icon>edit</mat-icon>
                Edit
            </button>
            </a>
        </div>

    </header>


    <article id="post-view">
        <div class="ros-content" [innerHTML]="post.content.html"></div>
    </article>



    <article id="bottom-view">
        <div id="comment-street">
            <h5 class="comment-header">Comment ({{postComments.length}})</h5>
            <div class="comment-container">
                <textarea #commentTextArea></textarea>
                <button class="btn btn-secondary" (click)="triggerComment()">Comment</button>
            </div>

            <div class="comment-feed mt-5">

                <div class="comment" *ngFor="let comment of postComments">

                    <div class="author-header d-flex no-gutters" id="header">
                        <div class="image image-40 col-auto"><img src="{{STATIC_DOMAIN}}/images/presets/avatar.png"/></div>
                        <div class="details col ml-3">
                            <div class="name">{{comment?.user.name}}</div>
                            <div class="meta">
                                {{comment?.createdAt | smartDate }}
                            </div>
                        </div>
                    </div>

                    <div class="content mt-4" [innerHTML]="comment.content.html"></div>

                </div>
            </div>

        </div>

    </article>



</main>
