<article id="base-view">
    <div id="progress-container">
        <mat-progress-bar [hidden]="!(isLoading$ | async)" mode="indeterminate"></mat-progress-bar>
    </div>
    <router-outlet></router-outlet>
</article>

<app-modal></app-modal>
