@import "../../abstracts/variables";

.ros-PostEditor-root {
    font-family: 'Georgia', serif;
}


.ros-PostEditor-editor {
       max-width: 100%;
        /*padding: 0 10px;*/
    //background: #fbffff;
}
.ros-block-atomic-wrapper {
    position: relative;
    border: 1px solid #e8ebec;
}
.ros-block-atomic-embed button {
    background: #fff;
    border: 1px solid #7d7d7d;
}
.ros-block-atomic-wrapper hr {
    border: none;
    background: #5a5a5a;
    min-height: 3px;
    max-width: 50px;
}

.ros-block-atomic-wrapper.ros-block-atomic-wrapper-separator {
    border-color: transparent;
}

.ros-PostEditor-editor .ros-PostEditor-blockquote {
    font-style: italic;
}

.ros-PostEditor-editor .public-DraftStyleDefault-pre {
    font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
}


.ros-editor-toolbar-edit-link a {
    color: #fff;
}


.ros-link a, .ros-link a:visited {
    color: $link-color
}


.ros-content  :first-child {
        margin-top: 0;
}
