@import "../../abstracts/variables";

/** Headers **/
.ros-block-header-one {
    font-size: 2em;
    margin: .5em 0;
}

.ros-block-header-two {
    font-size: 1.7em;
}

.ros-block-header-three {
    font-size: 1.3em;
    margin: .5em 0;

}

.ros-block-header-four {
    font-size: 1em;
}

.ros-block-header-five {
    font-size: 0.8em;
}

.ros-block-header-six {
    font-size: 0.7em;
}

.ros-block-header-one,
.ros-block-header-two,
.ros-block-header-three,
.ros-block-header-four,
.ros-block-header-five,
.ros-block-header-six {
    font-family: $font-family-sarala;
    font-weight: bold;
}

/** Block Quote **/
.ros-PostEditor-editor .ros-PostEditor-blockquote, .ros-block-blockquote {
    border-left: 5px solid #eee;
    color: #666;
    font-family: $font-family-nunito;
    font-style: italic;
    margin: 16px 0;
    padding: 10px 20px;
}

.ros-PostEditor-blockquote, .ros-block-blockquote {
    a {
        text-decoration: underline;
    }
}

/** Unstyled **/
.ros-block-unstyled {
    margin: 0
}

/** Unordered List */
.ros-block-unordered-list-item {
    margin: 16px 0
}

/** Image **/
.ros-block-image {
    margin: 0 0 10px 0;

    img {
        width: 100%;
    }

    figcaption {
        text-align: center;
        font-size: 0.9em;
    }
}

.ros-block-todo {
    margin: 10px 0 10px 0;

    input[type=checkbox] {
        float: left;
        position: relative;
        top: 0px;
        left: -2px;
    }
    p {
        margin-left: 18px;
    }
}

.ros-block-unordered-list-item, .ros-block-ordered-list-item {
    padding-left: 20px;

    li {
        margin-bottom: 5px;
    }
}

.ros-block-atomic-embed {
    margin: 10px 0;
}

.ros-block-atomic-break {
    hr {
        max-width: 100px;
        border: 2px solid #ccc;
    }
}

.ros-inline-code {
    font-family: $font-family-monospace;
    margin: 4px 3px;
    font-size: 0.9em;
    padding: 4px 6px;
    background-color: #f5f4f4;
}

.ros-inline-code-old {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    margin: 4px 0px;
    font-size: 0.9em;
    padding: 1px 3px;
    color: rgb(85, 85, 85);
    background-color: rgb(252, 252, 252);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204) rgb(204, 204, 204) rgb(187, 187, 187);
    border-image: initial;
    border-radius: 3px;
    box-shadow: rgb(187, 187, 187) 0px -1px 0px inset;
}

.ros-inline-link {
    color: $link-color;

    &:visited {
        color: $link-color;
    }
}

.ros-inline-highlight {
    background: yellow;
    display: inline;
    padding: 2px 4px;
}

p {
    &.ros-block-quote-caption {

        &::before {
            content: '\2013';
            color: #999;
            float: left;
            font-weight: bold;
            display: inline;
            margin-right: 10px;
        }
        margin-top: 0;
        font-size: 0.8em;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        background: #fafafa;
    }
}
