@import "../../abstracts/variables";

.ros-PostEditor-root {
    background: #fff;
    box-sizing: border-box;
    font-family: $font-family-nunito;
    position: relative;
    line-height: 1.4em;
}

.ros-PostEditor-editor {
    cursor: text;
    position: relative;
    margin: 0 auto;

    h3 {
        font-size: 1.3em;
        margin: .5em 0;
    }
}




.ros-PostEditor-editor .public-DraftEditorPlaceholder-root,
.ros-PostEditor-editor .public-DraftEditor-content {
    margin: 0px -15px -15px;
    padding: 15px;
}

.ros-PostEditor-editor .public-DraftEditor-content {
    min-height: 100px;
}

.ros-PostEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
    display: none;
}



.public-DraftEditor-content {
    .ros-block:first-child {
        margin-top: 0;
        padding-top: 0;
    }
}

.ros-PostEditor-editor .public-DraftStyleDefault-pre {
    background-color: rgba(0, 0, 0, 0.05);
    //font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
    font-size: 16px;
    padding: 20px;
}

.public-DraftStyleDefault-unorderedListItem,
.public-DraftStyleDefault-orderedListItem {
    margin-bottom: 10px;
}

.ros-editor-action {
    position: fixed;
    top: 5px;
    left: 5px;

    button {
        display: block;
    }
}
