@import "../../../../styles/abstracts";


main {
    background: white;
    width: 100vw;
    height: 100vh;
    @include flex-column(true);

    article{
        width: 700px;
        margin: 0 auto;

        header{
            margin-bottom: 30px;
            h3 { font-family: $font-family-sarala; font-weight: 700;}
        }

        section {
            h5 { font-family: $font-family-sarala; font-weight: 700}

            &.post {
                border-left: 2px solid $gray-500;
                background: $gray-50;
                padding: 15px;
            }
        }

        .form-group{
            label {
                margin-right: 20px;
            }
            input {
                display: inline-block;
                width: 300px;
            }
        }
    }
}



