<main>
    <article>

    <header>
        <h3>Publish your post</h3>
    </header>


    <section class="post">
        <h5>{{meta.title}}</h5>
        <p>{{meta.summary}}</p>
        <div class="meta">

            {{user.name}}
            <i class="dot-bridge"></i>
            {{ meta.readTime | rosPlural:'min':'read'}}

        </div>

    </section>



    <section class="mt-4">
        <form [formGroup]="form" (ngSubmit)="onSubmit($event)">

            <div class="text-danger">{{error}}</div>

            <div class="form-group hint--top hint--rounded" aria-label="Your post would fall under this category">

                <input class="form-control rounded-0" type="text" placeholder="Select a category"  aria-label="Category" matInput formControlName="category" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                        <mat-option *ngFor="let category of filteredCategories | async" [value]="category">
                            {{ category.name }}
                        </mat-option>
                    </mat-autocomplete>

            </div>

            <div>
                <button class="btn btn-secondary has-mat-icon" type="submit">
                    <mat-icon>add</mat-icon>{{post.postId ? 'Update Post' : 'Create Post' }}
                </button>
            </div>


        </form>
    </section>
</article>
</main>
