// Import the fonts
@import "../abstracts/variables";

@mixin font-face($name, $path, $style, $weight) {

    @font-face {
        font-family:$name;
        src: url('#{$path}.woff2') format('woff2'), url('#{$path}.woff') format('woff');
        font-style: $style;
        font-weight: $weight;
        text-rendering: optimizeLegibility;
    }

}


//Sarala

$sarala :  "Sarala";
$sarala-regular-font-path :  "#{$STATIC_DOMAIN}/fonts/sarala/regular/sarala-regular-webfont";
$sarala-bold-font-path :  "#{$STATIC_DOMAIN}/fonts/sarala/bold/sarala-bold-webfont";

//Create Sarala Normal Regular
@include font-face($sarala, $sarala-regular-font-path, 'normal', 'normal');

//Create Sarala Normal Bold
@include font-face($sarala, $sarala-bold-font-path, 'normal', 700);



// Nunito

$nunito :  "Nunito";
$nunito-regular-font-path :  "#{$STATIC_DOMAIN}/fonts/nunito/regular/nunito-regular-webfont";
$nunito-bold-font-path :  "#{$STATIC_DOMAIN}/fonts/nunito/bold/nunito-bold-webfont";
$nunito-italic-font-path :  "#{$STATIC_DOMAIN}/fonts/nunito/italic/nunito-italic-webfont";
$nunito-semibold-font-path :  "#{$STATIC_DOMAIN}/fonts/nunito/semibold/nunito-semibold-webfont";
$nunito-light-font-path :  "#{$STATIC_DOMAIN}/fonts/nunito/light/nunito-light-webfont";




//Create Sarala Normal Regular
@include font-face($nunito, $nunito-regular-font-path, 'normal', 'normal');

//Create Sarala Normal Bold
@include font-face($nunito, $nunito-bold-font-path, 'normal', 700);

//Create Sarala Norm SemiBold
@include font-face($nunito, $nunito-semibold-font-path, 'normal', 600);

//Create Sarala Italic Normal
@include font-face($nunito, $nunito-italic-font-path, 'normal', 500);

//Create Sarala Normal Light
@include font-face($nunito, $nunito-light-font-path, 'normal', 300);
