@import "../abstracts";

// # Forms

form {
    font-family: $font-family-base;
}

.form-group > input, textarea {
    font-family: $font-family-base;
    border: 1px solid $gray-500;
}

.form-group label.important:after {
    content: "*";
    color: $danger;
    margin-left: 3px;
    font-weight: bold;
}

a.link{
    cursor: pointer;
    font-weight: 600;
    color: $primary;
    &:hover {text-decoration: underline !important;}
}

a.not-link{
    color: $black;
    &:hover {text-decoration: none !important;}
}



// Angular Material
.mat-menu-item {
    font-size: $font-size-sm;
    .description {
        display: block;
        font-size: $font-size-sm * 0.9;
        margin-top: -7px;
        color: $gray-500;
    }

}

#progress-container {
    position: fixed;
    width: 100%;
    z-index: $zindex-tooltip;
    .mat-progress-bar {
        height: 3px;
    }
}


.dot-bridge{
        padding: 0 5px;
        font-size: 20px;

        &:before {
            content: '\00B7';
        }
    }


button.btn {
    font-family: $font-family-base;
}


.no-margin {
    margin:0;
}

.no-padding {
    padding:0;
}


button.btn.has-mat-icon {
    mat-icon {
        vertical-align: top;
        @include mat-icon-size(20px)
    }
    border-radius: $btn-border-radius;
    padding: $input-btn-padding-y $input-btn-padding-x;

    i {
        margin-top: -5px;
        display: inline-block;
    }
}
